@font-face {
	font-family: 'stone_harbour_italic';
	src: url('../../fonts/stoneharbour-italic-webfont.woff2') format('woff2'),
	url('../../fonts/stoneharbour-italic-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'goboldregular';
	src: url('../../fonts/gobold_regular-webfont.woff2') format('woff2'),
	url('../../fonts/gobold_regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'cabinregular';
	src: url('../../fonts/cabin-regular-webfont.woff2') format('woff2'),
	url('../../fonts/cabin-regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
