// colors
$color-1: #5f8ee4; // Cornflower Blue - Action color
$color-2: #19191a; // Dark Blue
$color-3: #e4655f; // Red
$color-4: #e6e6e6; // light grey
$white: #FFFFFF; // white
$er: #393939;
$color-5: blue;
$pink: #FF0059;
$background: #212121; // body background color - visible when main element scales down

// fonts

$primary-font: 'Ubuntu', sans-serif;

// z-index

$main-zindex: 1;
$nav-zindex: 3;
$shadow-zindex: 2;

// nav

$menu-items-number: 5;
