
nav.navbar.navbar-default(role='navigation')
	.container-fluid
		.navbar-header
			h1 ITSHANSEN
		#bs-example-navbar-collapse-1
			ul.nav.navbar-nav
				li
					a(href='#') dribble
				li
					a(href='#') linkedin
				li
					a(href='#') say hello
