mixin projects(projects)
	.row
		each project in projects
			.col-xs-12.col-sm-6.col-md-4.col-lg-3.tile
				.dummy
				a.thumbnail(href=project.url, target="_blank")
					img.img-responsive(src=project.img)
