extends layouts/_default

block content

	main#main-content

		section#intro

			include modules/_header

			.designer DESIGN
				span ER
				ul#fade.animated.enter
					li PRODUCT
					li USER INTERFACE
					li USER EXPERIENCE

			.bottom-bar
				a.menu-trigger(href='#main-nav')
					span
